.footer {
    height: 100%;
    background-color: #191b1f;
}

.footer > .footer-link-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}

.footer > .footer-link-wrapper > .footer-nav-link {
    background-color: #36383f;
    border: 2px solid #4f5052;
    padding: 10px 86px
    
}

.footer > .footer-link-wrapper > .footer-nav-link a {
    color: white;
    text-decoration: none;
    width: 100%;
    
}

.footer > .footer-link-wrapper > .footer-nav-link span {
    font-size: 16px;
    font-weight: 900;
    
}

body {
    background-color: #191b1f;
}